body{
    background: url("../images/background2.jpg");
    padding-top: 50px;
    padding-left: 500px;
    background-repeat: repeat;
    background-size: center;
}
.sidebar {
  width: 30%;
  float: center;
  color: white;
}
.jk{
  color: white
}
.sidebar img {
  float: left;
  width: 60px
}
