body{
    background: url("../images/background2.jpg");
    padding-top: 50px;
    padding-left: 500px;
    padding-bottom: 5000px;
    background-repeat: repeat;
    background-size: center;
}
.sidebar {
  width: 70%;
  float: center;
  color: white;
}

.jk{
  color: white
}

.sidebar img {
  float: left;
  width: 50px;
}

h2{
  font-size: 40px;
  text-decoration: underline;
}

h3{
  font-size: 40px;
  font-style: italic;
}

.text{
  color: white;
}
.profile{
  width:100px;
  float: left;
}
h1{
  font-size: 40px;
font-weight: bolder;
}
.lolo{
  color: white;
  font-size: 20px;
  text-align: left;
}
.lolo2{
  color:white;
  font-size: 20px;
}
h4{font-size: 40px;
}

.lolo3{
  color: white;
  font-size: 20px;
}
h5{
  font-size: 40px;
}

.bigtext{
  float: left;
}
.lolo4{
  color: white;
  font-size: 20px;
}

h{
  text-decoration: underline;
}
